<div class="voting-arrows">
  <i class="arrow fa fa-arrow-up {{if isUpvoted 'active'}}" {{action 'upvote'}}></i>
  <i class="arrow fa fa-arrow-down {{if isDownvoted 'active'}}" {{action 'downvote'}}></i>
</div>

<div class="text">
  <h4>{{link-to title 'talk' attrs.event}}</h4>
</div>

<div class="score">
  <span>{{score}}</span><br />
  Score
</div>
