<header class="container">
  <div class="title">
    {{link-to 'Icarus' 'index'}}
  </div>

  {{#if session.isAuthenticated}}
    <div class="login">
      <a href="#">{{session.currentUser.fullName}} <i class="fa fa-caret-down"></i></a>
    </div>
  {{else}}
    <div class="login">
      <a href="#" {{action 'login'}}>Login</a>
    </div>
  {{/if}}

</header>

{{liquid-outlet}}

<footer class="container">
  Created by
  <a href="https://github.com/Pitt-CSC/icarus/graphs/contributors">
    Alex LaFroscia and Others
  </a> for the <a href="http://pittcsc.org">Pitt CSC</a>
</footer>
